{%extends 'header.html'%}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% block b%}
    <div class="col-sm-4" style="margin-top:50px;min-width: 300px;">
    <h4 style="text-align:center;color:white; background:#ab183d;padding: 10px;">Your relevant jobs</h4>
    {% for k in job %}
    <div style="border:black solid;border-width:0.1px;background: whitesmoke;">
    <ul>       
        <li><a href="{% url 'home:data' k %}">{{k}}</a></li>        
    </ul>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
</body>
</html>